* {
  outline: none;
}

.font-size-2r {
  font-size: 1.4rem;
}

.text-l { /* Light colored text */
  color: #F7F7F7;
}

.bg-custom-d { /* Dark colored background */
  background-color: #232323;
}

.bg-custom-l { /* Light colored background */
  background-color: #F7F7F7;
}

.search-cstm-l { /* Light colored search-bar */
  background-color: #F7F7F7;
  color: #232323;
  font-size: 2rem;
  width: 6.5rem;
  border: none;
  border-bottom: 0px solid #F7F7F7;
  height: auto;
  -webkit-transition: width 0.4s, border-bottom 0.4s;
}

.search-cstm-l:hover { /* Light colored search-bar */
  width: 20rem;
  height: auto;
  border-bottom: 2px solid #232323;
  -webkit-transition: width 0.6s, border-bottom 0.6s;
}

.padding-ud-2r {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.margin-ud-2r {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.align-r {
  float: right;
}

.align-l {
  float: left;
}

.hr {
  border-bottom: 0.2rem solid #232323;
}

/* VEWING HELPERS */
.bright-b-border { /* Gives elemenet clear bllue border */
  border: 3px solid blue;
}

